* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
   body {
    background-color: rgb(36, 34, 34);
    color: white;
    background: linear-gradient(to right, #BB2649, #D99F7E )  ;  
}

main {
    width: 100%;
    height: 100%;
    text-align: center;
}
h1 {
    margin-top:60px ;
    font-size: 50px;
    padding-bottom: 100px;
}
img {
    width: 500px;
    height: 270px;
    border-radius: 10px;
}

/* Projects */

.all-my-projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     
}
.projects {
    width: 500px;
    padding-bottom:100px ;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    display:inline-block;
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-image: linear-gradient(45deg, rgb(207, 39, 67) , white);
    border-image-slice: 1;
    border-radius: 2px;
}
a:hover {
    border-image: linear-gradient(45deg, white, rgb(240, 50, 81) );
    border-image-slice: 1;
    border-radius: 2px;
}

@media screen and (max-width:510px) {
    .projects {
        width: 100%;
    } 
    img {
        width: 95%;
        height: auto;
  
    }
    .footer {
        text-align: center;
        height: 20vh;
    }
}

/* footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    background-color: #BB2649;
}

.links {
    margin-top: 20px;
}
.contact {
    margin-top: 25px;
}
.links a {
    text-decoration: none;
    border-radius: 10px;
    background-color: #fa7ca6;
    margin:10px  5px;
    padding: 15px 40px;
}
.links a:hover {
        box-shadow: 5px 5px 10px black;
        transition: transform .5s, border 1s;
}


